.sidenav{
    
    height: 100%;
    width: 100%;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar-links{
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 30px 20px;
}

.navbar-links li{
    margin: 30px 0px;
}

a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 20px;
    transition: 0.1s all;
}

.active{
    color: black;
    font-weight: 500;
}

.navbar-links a:hover{
    color: black;
}


