#search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-header{
    display: grid;
    margin: 20px 0px;
    grid-template-columns: 10% 40% 30% 15% 5%;
}

.search-database{
    margin: 20px 0px;
}

.search-database input{
    height: 30px;
    margin: 0;
    box-sizing: border-box;
}

#message{
    font-size: 30px;
    font-weight: 500;
}