.result-tile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(248, 248, 247);
    padding: 15px;
    border-radius: 20px;
    transition: 0.2s all ease;
}
.result-tile:hover{
    background-color: rgb(230,230,230);
}
.result-tile p{
    margin: 0;
    font-weight: 500;
}
.result-tile span{
    display: flex;
    gap: 15px;
}
.result-tile #author{
    background-color: rgb(200,200,200);
    padding: 5px 10px;
    
    font-size: 10px;
    border-radius: 15px;
}

#quantity{
    height: 30px;
    box-sizing: border-box;
    
    padding: 5px;
    width: 50px;
}

.issue-container{
    display: flex;
    height: 30px;
    gap: 10px;
    box-sizing: border-box;
}