
#issue-book-form{
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

#member-id, #debt{
    text-align: center;
}


.form-field label{
    flex: 2;
    text-align: left;
}

.form-field input{
    flex: 5;
    height: 30px;
    padding: 0px 10px;
}